// Imports

@import "resetDefault";

// Mixin
@mixin paragraphFormats {
    margin: 0px 75px 30px 75px;
    justify-content: center;
    text-align: center;
}

// Variables

$justifyMiddle: space-between;
$mainBodyWidth: 600px;
$bottomLeftMargin: 0px 0px 50px 30px;
$bottomRightMargin1: 0px 30px 50px 0px;
$bottomRightMargin2: 0px 30px 30px 0px;
$textBodyMargin: 0px 90px 20px 90px;
$sizedFonts1: 55px;
$sizedFonts2: 33px;
$sizedFonts3: 20px;
$sizedFonts4: 18px;
$resumeBackgroundColor: #FAFAFF;
$pageBackgroundColor: #091540;
$linkAndCircleColor: #1B2CC1;
$secondaryColor: #016FB9;

// General Page CSS

.pageContainer {
    display: flex;
    justify-content: center;
    background-color: $pageBackgroundColor;
}

.resumeContainer {
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    border: 2px solid black;
    margin: 40px 0px;
    background-color: $resumeBackgroundColor;
  }

  .flexRow {
      display: flex;
  }

  .flexColumn {
      display: flex;
      flex-direction: column;
  }

//   Resume CSS

.topBlock {
    margin: 70px 30px 40px 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    justify-content: $justifyMiddle;
}

.topRight {
    margin-right: 90px;
}

.topRightImg {
    fill: #091540;
}

h1 {
    font-size: $sizedFonts1;
}

.dressTextTop {
    font-size: $sizedFonts2;
}

.leftSide {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin: $bottomLeftMargin;
    border-right: 1px solid black;
}

.rightSide {
    display: flex;
    flex: 6;
    flex-direction: column;
    margin: $bottomLeftMargin;
}

.contactInfo {
    font-size: $sizedFonts3;
}

.contactBody {
    margin: $bottomRightMargin2;
}

.allLink {
    text-decoration: none;
    color: $linkAndCircleColor;
}

h2 { 
    @extend .contactBody;
    font-size: $sizedFonts2;
    margin-top: 0px;
}

.technicalSkills {
    justify-content: $justifyMiddle;
}

.technicalBody {
    @extend .contactBody;
}

.techBodyNames {
    @extend .technicalSkills;
    align-items: center;
}

.skillsRating {
    @extend .contactInfo;
}

.referencesInfo {
    @extend .contactInfo;
}

.experienceBody {
    @include paragraphFormats();
}

.experienceTop {
    @extend .technicalSkills;
    font-size: $sizedFonts3;
    // color: $secondaryColor;
}

.experienceText {
    font-size: $sizedFonts4;
}

.profileText {
    @include paragraphFormats();
    font-size: $sizedFonts4;
}

.socialText {
    @extend .technicalSkills;
    margin: $textBodyMargin;
    font-size: $sizedFonts3;
}

.educationText {
    @extend .technicalSkills;
    margin-left: 45px;
    margin-right: 45px;
    font-size: $sizedFonts3;
}

.educationTextTop {
    @extend .educationText;
    // color: $secondaryColor;
}

.educationTextBot {
    @extend .educationText;
    // color: $secondaryColor;
}

.educationTextBot > p {
    margin-top: 0px;
}