// Imports

@import "resetDefault";

// Variables

$bottomLeftSpacing: 0px 0px 50px 30px;
$bottomRightMargin: 0px 30px 60px 0px;
$sizedFonts1: 20px;
$sizedFonts2: 18px;
$sizedFonts3: 28px;

// General Page CSS

.pageContainer {
    display: flex;
    justify-content: center;
}

.resumeContainer {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    border: 2px solid black;
    margin: 40px 0px;
  }

  .flexRow {
      display: flex;
  }

  .flexColumn {
      display: flex;
      flex-direction: column;
  }

//   Resume CSS

.topBlock {
    margin: 70px 30px 40px 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.pageContent {
    display: flex;
}

.leftSide {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin: $bottomLeftSpacing;
}

.rightSide {
    display: flex;
    flex: 6;
    flex-direction: column;
    margin: $bottomLeftSpacing;
}

.contactBody {
    margin: $bottomRightMargin;
}

.contactInfo {
    font-size: $sizedFonts1
}

.skillsRating  {
    font-size: $sizedFonts1;
}