// Imports

@import "resetDefault";

// Mixin
@mixin paragraphFormats {
    margin: 0px 110px 15px 110px;
    justify-content: center;
    text-align: center;
}

// Variables

$justifyMiddle: space-between;
$mainBodyWidth: 300px;
$bottomLeftMargin: 0px 0px 50px 30px;
$bottomRightMargin1: 0px 30px 50px 0px;
$bottomRightMargin2: 0px 30px 30px 0px;
$sizedFonts1: 42px;
$sizedFonts2: 30px;
$sizedFonts3: 25px;
$sizedFonts4: 22px;

// General Page CSS

.pageContainer {
    display: flex;
    justify-content: center;
}

.resumeContainer {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    border: 2px solid black;
    margin: 40px 0px;
  }

  .flexRow {
      display: flex;
  }

  .flexColumn {
      display: flex;
      flex-direction: column;
  }

//   Resume CSS

.topBlock {
    margin: 70px 30px 40px 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.pageContent {
    display: flex;
}

h1 {
    font-size: $sizedFonts1;
}

.dressTextTop {
    font-size: $sizedFonts3;
}

.leftSide {
    display: flex;
    flex: 3;
    flex-direction: column;
    margin: $bottomLeftMargin;
    border-right: 1px solid black;
}

.rightSide {
    display: flex;
    flex: 6;
    flex-direction: column;
    margin: $bottomLeftMargin;
    margin-right: 30px;
}

.contactInfo {
    font-size: $sizedFonts4;
}

.contactBody {
    margin: $bottomRightMargin2;
}

h2 { 
    font-size: $sizedFonts2;
    margin-top: 0px;
}

.technicalSkills {
    justify-content: $justifyMiddle;
}

.technicalBody {
    margin: $bottomRightMargin2;
}

.techBodyNames {
    @extend .technicalSkills;
    align-items: center;
}

.skillsRating {
    font-size: $sizedFonts4;
}

.referencesInfo {
    font-size: $sizedFonts4;
}

.experienceBody {
    @include paragraphFormats();
}

.experienceTop {
    justify-content: $justifyMiddle;
}